<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread] %logger{20} - %m%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="consoleAppender" />
	</root>

	<logger name="generic" additivity="false" level="info">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="costing" additivity="false" level="info">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="tracing" additivity="false" level="info">
		<appender-ref ref="consoleAppender" />
	</logger>

</configuration>